:root{
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);

    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);

    --ff-rhd-ss: 'Red Hat Display', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: var(--ff-rhd-ss);
    font-size: 16px;
    background: left 0%/100% 50% no-repeat url(../assets/pattern-background-mobile.svg), var(--primary-pale-blue);
}

.card{
    width: 330px;
    border-radius: 1em;
    box-shadow: 0 15px 1em rgba(8,8,8, .2);
    text-align: center;
    background-color: var(--neutral-very-pale-blue);
}

.card-img{
    border-radius: 1em 1em 0 0;
    width: 100%;
}

.card-title{
    font-weight: 900;
    color: var(--neutral-dark-blue);
}

.card-text{
    padding: 0 2em;
    color: var(--neutral-desaturated-blue);
}

.card-plan{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2em auto 0;
    width: 80%;
    max-width: 360px;
    align-items: center;
    height: 90px;
    border-radius: .5em;
    background-color: hsla(225, 100%, 94%, .3);
}

.icon-music{
    justify-self: end;
}

.plan-price{
    margin-top: 1em;
    grid-column: 2 / 4;
}

.plan-price span{
    color: var(--neutral-dark-blue);
    font-weight: 700;
}

.plan-price p{
    color: var(--neutral-desaturated-blue);
    margin-top: .2em;
}

.plan-link{
    margin: 1em 1.2em;
    font-size: .9rem;
    font-weight: 700;
    color: var(--primary-bright-blue);
}


.card-buttons{
    margin-top: 2.5em;
}

.buttons{
    display: block;
    text-decoration: none;
}


.payment-button{
    width: 85%;
    max-width: 360px;
    margin: 0 auto;
    padding: 1em 0;
    border-radius: .5em;
    font-weight: 700;
    box-shadow: 0 10px 1em rgba(8,8,8, .3);
    color: var(--primary-pale-blue);
    background-color: var(--primary-bright-blue);
}

.payment-cancel{
    margin-top: 1.5em;
    padding-bottom: 2.5em;
    font-weight: 700;
    color: var(--neutral-desaturated-blue);
}

.plan-link:hover{
    text-decoration: none;
}

.payment-button:hover{
    background-color: hsl(245, 75%, 63%);
}

.payment-cancel:hover{
    color: var(--neutral-dark-blue)
}

@media screen and (min-width: 1440px){
    body{
        background: left 0%/100% 50% no-repeat url(../assets/pattern-background-desktop.svg), var(--primary-pale-blue);;
    }

    .card{
        width: 450px;
    }

    .card-title{
        padding-top: 1em;
    }

    .card-text{
        margin: 0 auto;
        max-width: 360px;
    }

    .icon-music{
        justify-self: center;
    }

    .plan-price{
        justify-self: start;
    }

    .plan-link{
        margin-right: 2em;
    }

    .payment-cancel{
        padding-bottom: 4em;
    }
}