:root{
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);

    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);

    --ff-rhd-ss: 'Red Hat Display', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: var(--ff-rhd-ss);
    font-size: 16px;
    background: left 0%/100% 50% no-repeat url(../assets/pattern-background-mobile.svg), var(--primary-pale-blue);
}

.card{
    background-color: var(--neutral-very-pale-blue);
    width: 330px;
    height: 800px;
    border-radius: 1em;
    text-align: center;
}

.card-img{
    border-radius: 1em 1em 0 0;
    width: 100%;
}

.card-title{
    color: var(--neutral-dark-blue);
}

.card-text{
    padding: 0 2em;
    color: var(--neutral-desaturated-blue);
}

.card-payment{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2em auto 0;
    width: 90%;
    align-items: center;
    height: 90px;
    border-radius: .5em;
    background-color: hsla(225, 100%, 94%, .3);
}

.icon-music{
    justify-self: end;
}

.payment-price{
    margin-top: 1em;
    grid-column: 2 / 4;
}

.payment-price span{
    color: var(--neutral-dark-blue);
    font-weight: 700;
}

.payment-price p{
    color: var(--neutral-desaturated-blue);
    margin-top: .2em;
}

.payment-link{
    margin: 1em;
    font-size: .9rem;
    color: var(--primary-bright-blue);
}

.buttons{
    display: block;
    text-decoration: none;
}

.card-buttons{
    margin-top: 2.5em;
}

.button-cancel-payment{
    margin-top: 1em;
}


.payment-link:hover{
    text-decoration: none;
}